{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'webexample/css/main.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'webexample/img/chechik.jpg'%}" alt="Лого">
        <span class="logo">Rooms</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'main_home' %}"><li><i class="fas fa-home"></i>Главная</li></a>
            <a href="{% url 'main_about' %}"><li><i class="fab fa-avianex"></i>Новости</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fas fa-frog"></i>Страница</li></a>
            <a href=""><li><i class="fas fa-address-book"></i>Контакты</li></a>
            <a href="{% url 'create'%}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"> Добавить запись</i></button></li></a>
        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock %}
    </main>





</body>
</html>